.search-box{
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    width: 100%;
    height: 100%;
}

.search-box input{
    width: 50%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

:root {
 --border :#e9e9e9;
 --muted: #666;
}

* {box-sizing: border-box;}
body {
margin :0;
font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
background-color: #fff;
color: #111;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 16px;
}

.search-box{margin: 16px 0;}

.search-box input{
    width: 100%;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.status {
    margin: 10px 0 16px;
    font-size: 14px;
    color: var(--muted);
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 50px;
}

.product {
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
    margin: 0 auto;
    display: flex;
}

.product img {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.product-title {
    font-weight: 600;
    font-size: 8px;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    object-fit: contain;
    white-space: wrap;
    max-width: 100px;
    max-height: 100px;
    

}

.product-category{
    font-size: 12px;
    color: #999;
    overflow: hidden;
}

.product-price {
    margin-top: auto;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 3rem;
}
